{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}{{ block.super }} | {{ title }}{% endblock %}

{% block content %}
    <div class='col-sm-6 col-sm-offset-3 text-center'>
        <h1>{{ heading }}</h1>
        <hr/>
        {% if login %}
            {% include 'snippets/next.html' %}
        {% endif %}
        {% bootstrap_button size='lg' name='schedule' value='Schedule' content='Schedule Events' button_type='submit' %}
        {% if login %}
            {% include 'snippets/registration_prompt.html' %}
        {% endif %}
    </div>
{% endblock %}