<li class="nav-item">
    <a class="nav-link" href={% url 'events:event home' %}>All Events</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'events:event home' %}?search=Rugby">Underwater Rugby Events</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'events:event home' %}?search=Hockey">Underwater Hockey Events</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={% url 'referee register' %}>Become a Referee</a>
</li>
<li class="nav-item">
    <a class="nav-link" href={% url 'athlete register' %}>Become a Athlete</a>
</li>